<template>
  <Layout>
    <PageLayout>
      <Title>{{ $page.post.title }}</Title>
      <PostMeta :post="$page.post" class="post__meta" />

      <v-card class="post elevation-4">
        <g-image
          v-if="$page.post.coverImage"
          :src="`/images/${$page.post.coverImage}`"
          alt="Cover image"
          class="post__image"
        />

        <v-card-text class="post__content">
          <p class="content__emphasis grey--text text--darken-2">{{$page.post.description}}</p>
          <hr class="my-4" />

          <div v-html="$page.post.content"/>

          <div class="post__footer">
            <PostTags :post="$page.post"/>
          </div>
        </v-card-text>
      </v-card>
    </PageLayout>
  </Layout>
</template>

<script>
// Components
import PostMeta from "@components/Blog/PostMeta";
import PostTags from "@components/Blog/PostTags";

/**
 * Blog post template
 */
export default {
  name: "Post",
  components: {
    PostMeta,
    PostTags,
  },
  metaInfo() {
    return {
      title: this.$page.post.title,
      meta: [
        {
          name: "description",
          content: this.$page.post.description,
        },
      ],
    };
  },
};
</script>

<page-query>
query Post ($path: String!) {
  post: post (path: $path) {
    content
    coverImage (width: 860, blur: 10)
    date (format: "MMMM D, YYYY")
    description
    path
    timeToRead
    title
    tags {
      id
      title
      path
    }
  }
}
</page-query>

<style lang="scss">
@import "@styles/_breakpoints.scss";

// Post content
.post {
  margin-bottom: calc(var(--spacing) * 5);
  border-radius: calc(var(--spacing) / 2);
}

// Post header meta
.post__meta {
  margin: calc(var(--spacing) * 4) 0;
  overflow: hidden;
  border-radius: var(--radius) var(--radius) 0 0;
  text-align: center;
}

// Post header image (optional)
.post__image {
  display: block;
  width: 100%;
  max-width: none;
  max-height: 400px;
  object-fit: cover;
}

// Post content (text in card)
.post__content {
  padding: calc(var(--spacing) * 4);

  h2 {
    margin-top: calc(var(--spacing) * 4);
    margin-bottom: calc(var(--spacing) * 2);
    padding-bottom: calc(var(--spacing) / 2);
    border-bottom: 2px solid var(--color-primary);
  }

  h3 {
    margin-top: calc(var(--spacing) * 3);
    margin-bottom: calc(var(--spacing) * 2);
  }

  // Blog table styles
  table {
    margin: 0 auto;
    margin-bottom: calc(var(--spacing) * 4);
    border-collapse: collapse;
    border: 3px solid var(--color-primary);

    thead {
      border-bottom: 2px solid var(--color-primary);
    }

    td,
    th {
      padding: calc(var(--spacing) / 2) var(--spacing);
      border: 1px solid black;
    }

    th {
      text-align: left;
      font-weight: bold;
    }
  }

  // Blog image styles
  img {
    display: block;
    margin: 0 auto;
    border: 2px solid var(--color-primary);
    border-radius: 4px;

    @include mdUp() {
      width: 85%;
      box-shadow: 4px 4px 4px 0px lightgrey;
    }
  }

  // First paragraph should be emphasized
  .content__emphasis {
    margin-bottom: calc(var(--spacing) * 3);
    font-size: 1.2em;
    color: var(--title-color);
  }
}

// Post footer
.post__footer {
  margin-top: calc(var(--default-space) / 2);
}
</style>