<template>
  <Layout>
    <PageLayout>
      <Title>
        <code class="title__code">#&thinsp;{{ $page.tag.title }}</code>
      </Title>

      <div class="tag__posts">
        <PostCard
          v-for="edge in $page.tag.belongsTo.edges"
          :key="edge.node.id"
          :post="edge.node"
        />
      </div>
    </PageLayout>
  </Layout>
</template>

<page-query>
query Tag ($id: String!) {
  tag (id: $id) {
    title
    belongsTo {
      edges {
        node {
          ...on Post {
            coverImage (width: 860, blur: 10)
            date (format: "D. MMMM YYYY")
            description
            path
            timeToRead
            title
            tags {
              id
              title
              path
            }
          }
        }
      }
    }
  }
}
</page-query>

<script>
// Components
import PostCard from "@components/Blog/PostCard";

/**
 * Post tags page
 */
export default {
  name: "Tag",
  components: {
    PostCard,
  },
  metaInfo: {
    title: "Tags",
  },
};
</script>

<style lang="scss">
// Tag title text
.title__code {
  margin: 0;
  padding: var(--spacing);

  &:before,
  &:after {
    content: none;
  }
}
</style>

