<template>
  <v-toolbar app>
    <PageLayout :padding="false" class="mx-auto">
      <header class="header">
        <g-link class="header__logo" to="/">
          <v-avatar class="logo__image" size="32" tile>
            <img :src="logo" alt="Logo" />
          </v-avatar>
          <span class="logo__text">
            {{ $static.metaData.siteName }}
          </span>
        </g-link>
        <div class="header__links">
          <g-link class="primary--text" to="/blog">Blog</g-link>
          <g-link class="primary--text" to="/about">About</g-link>
        </div>
      </header>
    </PageLayout>
  </v-toolbar>
</template>

<script>
// Images
import logo from "@icons/favicon.png";

/**
 * App header/toolbar
 */
export default {
  name: "TheAppToolbar",
  props: {
    /**
     * Whether logo should be shown
     */
    showLogo: {
      default: true
    },
  },
  data() {
    return {
      logo,
    };
  }
};
</script>

<static-query>
query {
  metaData {
    siteName
  }
}
</static-query>

<style lang="scss" scoped>
// Header
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

// Header logo
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "MedievalSharp", "Muli", sans-serif;
	text-decoration: none;
  color: var(--body-color)!important;
  font-size: 1.15em;
  
  // Logo image
	.logo__image {
		margin-right: var(--spacing);
	}	
}

// Header links
.header__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: calc(var(--spacing) * 4);

  a {
    padding: 0 calc(var(--spacing) / 2);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color ease-in-out 0.1s;
    
    &:hover {
      border-color: var(--color-primary);
    }

    &:not(:first-of-type) {
      margin-left: calc(var(--spacing) * 2);
    }
  }
}
</style>

