<template>
  <v-footer
    class="footer"
    height="auto"
  >
    <v-card class="footer__card">
      <!-- Footer links -->
      <v-card-text class="footer__links grey darken-3">
        <PageLayout grid="lg">
          <v-layout row wrap>
            <v-flex xs12 md4 class="links__list" tag="ul">
              <li>
                <g-link to="/">Home</g-link>
              </li>
              <li>
                <g-link to="/about">About</g-link>
              </li>
            </v-flex>
            <v-flex xs12 md4 class="links__list" tag="ul">
              <li>
                <g-link to="/blog">Blog</g-link>
              </li>
              <li>
                <g-link disabled to="/admin">Admin</g-link>
              </li>
            </v-flex>
            <v-flex xs12 md4 class="links__social text-md-right text-xs-center">
              <a
                href="https://gitlab.com/unavia-games/family-merchant/"
                rel="noopener"
                target="_blank"
                title="Gitlab"
              >
                <v-avatar size="28">
                  <img :src="gitlabIcon" alt="Gitlab" width="24" />
                </v-avatar>
              </a>
            </v-flex>
          </v-layout>
        </PageLayout>
      </v-card-text>

      <!-- Footer text -->
      <v-card-actions class="footer__text grey darken-4">
        <span class="footer__copyright">
          Copyright © {{ new Date().getFullYear() }}
        </span>
        <span class="mx-2">&bull;</span>
        <span class="footer__attributions">
          Powered by
          <a href="//gridsome.org">Gridsome</a>
        </span>
      </v-card-actions>
    </v-card>
  </v-footer>
</template>

<script>
// Images
import gitlabIcon from "@icons/gitlab.svg";

/**
 * Site footer
 */
export default {
  name: "TheAppFooter",
  data() {
    return {
      gitlabIcon
    };
  },
};
</script>

<style lang="scss" scoped>
@import "@styles/_variables.scss";

.footer {
  font-size: 0.8em;

  // Footer card (container)
  .footer__card {
    width: 100%;
  }
}

// Footer links
.footer__links {
  // List of links
  .links__list {
    margin: 0;
    list-style: none;

    li {
      margin: 0;
      padding: 0;

      &:not(:first-of-type) {
        margin-top: calc(var(--spacing) * 2);
      }
    }

    a {
      display: block;
      padding: var(--spacing);
      color: white;
      border-radius: calc(var(--spacing) / 2);
      text-decoration: none;

      &:hover {
        color: black;
        background-color: white;
      }
    }
  }

  // Social icons
  .links__social {
    .v-avatar {
      padding: calc(var(--spacing) / 2);
      background-color: white;
      border-radius: 100%;
    }
  }
}

// Footer actions
.footer__text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: calc(var(--spacing) * 2);

  // Footer attributions
  .footer__attributions {
    a {
      color: currentColor;
    }
  }
}
</style>

