<template>
  <Layout>
    <div class="hero">
      <g-image :src="image404" alt="Not Found Hero" class="hero__image"/>
      <div class="hero__content">
        <h1 class="content__title primary">Page Not Found</h1>
      </div>
    </div>
  </Layout>
</template>

<script>
// Images
import image404 from "@images/404.jpg";

/**
 * 404 Page
 */
export default {
  name: "NotFound",
  data() {
    return {
      image404,
    };
  },
};
</script>

<style lang="scss" scoped>
@import "@styles/_breakpoints.scss";

// Hero container
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: calc(100vh - 64px);
  width: 100vw;

  @include mdUp() {
    align-items: flex-end;
    justify-content: center;
  }
}

// Hero image
.hero__image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 45%;
  filter: grayscale(50%) blur(3px);
}

// Hero content
.hero__content {
  margin: calc(var(--spacing) * 4);
  color: white;
  text-align: center;
  z-index: 1;

  @include mdUp() {
    margin-right: calc(var(--spacing) * 10);
  }

  // Hero content title
  .content__title {
    padding: 0 calc(var(--spacing) * 4);
    padding-top: calc(var(--spacing) * 4);
    padding-bottom: calc(var(--spacing) * 2);
    color: white;
    font-family: "MedievalSharp", "Muli", sans-serif;
    font-size: 4em;
    border-bottom: 8px solid indianred !important;
  }
}
</style>


