<template>
  <Layout>
    <PageLayout>
      <Title>{{ page.attributes.title }}</Title>
      <v-card class="about-card">
        <v-card-text class="pa-4">
          <div v-html="page.html" class="about__content" />
        </v-card-text>
      </v-card>
    </PageLayout>
  </Layout>
</template>

<script>
// Data
import About from "@data/About.md";

/**
 * About page
 */
export default {
  name: "About",
  metaInfo: {
    title: "About",
  },
  computed: {
    page() {
      return About;
    },
  },
};
</script>

<style lang="scss" scoped>
.about-card {
  border-radius: 8px;
}
</style>


