<template>
  <Layout>
    <v-container>
      <v-layout row>
        <v-flex xs12 lg10 offset-lg1 xl8 offset-xl2>
          <Title>Blog</Title>
          <div class="blog-posts">
            <PostCard
              v-for="edge in $page.posts.edges"
              :key="edge.node.id"
              :post="edge.node"
            />
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </Layout>
</template>

<page-query>
{
  posts: allPost {
    edges {
      node {
        id
        coverImage (width: 770, height: 380, blur: 10)
        date (format: "MMMM D, YYYY")
        description
        path
        title
        timeToRead
        tags {
          id
          title
          path
        }
        ...on Post {
            id
            title
            path
        }
      }
    }
  }
}
</page-query>

<script>
// Components
import PostCard from "@components/Blog/PostCard";

/**
 * Home page
 */
export default {
  name: "Blog",
  components: {
    PostCard,
  },
  metaInfo: {
    title: "Blog",
  },
};
</script>
