<template>
  <Layout :show-logo="false">
    <div class="hero">
      <g-image :src="heroImage" alt="Home Hero" class="hero__image" />
      <div class="hero__content">
        <h1 class="content__title primary">Family Merchant</h1>
        <div class="content__subtitle primary">How far will you go to provide for your family?</div>
      </div>
    </div>
  </Layout>
</template>

<script>
// Images
import heroImage from "@images/hero.png";

/**
 * Home page
 */
export default {
  name: "Home",
  metaInfo: {
    title: "Home",
  },
  data() {
    return {
      heroImage,
    };
  },
};
</script>

<style lang="scss" scoped>
// Hero container
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);
  width: 100vw;

  // Hero image
  .hero__image {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 82% 45%;
    filter: grayscale(25%) blur(2px);
  }
}

// Hero text content
.hero__content {
  margin: calc(var(--spacing) * 5);
  color: white;
  text-align: center;
  z-index: 1;

  .content__title,
  .content__subtitle {
    padding: 0 calc(var(--spacing) * 4);
    color: white;
  }

  // Hero content title
  .content__title {
    padding-top: calc(var(--spacing) * 2);
    padding-bottom: calc(var(--spacing) * 1.5);
    font-family: "MedievalSharp", "Muli", sans-serif;
    font-size: 3em;
    border-bottom: 4px solid indianred !important;
  }

  // Hero content subtitle
  .content__subtitle {
    padding-top: calc(var(--spacing) * 1);
    padding-bottom: calc(var(--spacing) * 0.5);
    font-size: 1.1em;
  }
}
</style>

