<template>
  <v-container :class="{ 'container--no-padding': !padding }" :fluid="fluid" v-bind="gridListProps">
    <v-layout row>
      <v-flex v-bind="columnProps">
        <!-- Page content (children) -->
        <slot name="default"/>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: "PageLayout",
  props: {
    /**
     * Additional column sizes
     * @type {string[]}
     */
    columns: {
      default: () => [],
      required: false,
      type: Array,
      /**
       * Only "size" and "offset" values are permitted
       */
      validator: values => {
        const offsetRegex = /^offset-(xs|sm|md|lg|xl)\d{1,2}$/;
        const sizeRegex = /^(xs|sm|md|lg|xl)\d{1,2}$/;

        return values.every(v => offsetRegex.test(v) || sizeRegex.test(v));
      },
    },
    /**
     * Whether container should be fluid (full screen)
     * @type {boolean}
     */
    fluid: {
      default: false,
      required: false,
      type: Boolean,
    },
    /**
     * Size of grid list gutters
     * @type {string}
     */
    grid: {
      default: null,
      required: false,
      type: String,
    },
    /**
     * Whether container element has padding
     * @type {boolean}
     */
    padding: {
      default: true,
      required: false,
      type: Boolean,
    },
    /**
     * Container size
     * @type {string}
     */
    size: {
      default: "medium",
      required: false,
      type: String,
      validator: value => {
        return ["large", "medium", "small"].includes(value);
      },
    },
    /**
     * Whether default columns should be ignored (overrides "size")
     * @type {boolean}
     */
    resetColumns: {
      default: false,
      required: false,
      type: Boolean,
    },
  },
  computed: {
    /**
     * Properties for "flex" component
     */
    columnProps() {
      const { size } = this;

      // Resetting columns should ignore any default columns from the size
      if (this.resetColumns) {
        return ["xs12"];
      }

      let defaultColumns = {};

      // Assign default column sizes and offsets based on the size prop.
      //   NOTE: These occasionally override the "override" column props themselves
      //         (Vuetify CSS ordering), hence the need for the deduplication function below.
      if (size === "small") {
        defaultColumns = ["xs12", "sm6", "offset-sm3", "xl4", "offset-xl4"];
      } else if (size === "medium") {
        defaultColumns = ["xs12", "sm10", "offset-sm1", "xl8", "offset-xl2"];
      } else if (size === "large") {
        defaultColumns = ["xs12", "sm12", "xl10", "offset-xl1"];
      }

      const overrideColumns = this.columns;
      const mergedColumns = this.deduplicateColumns(
        defaultColumns,
        overrideColumns
      );

      // Convert to props object shape in order to bind to 'v-flex' component
      return mergedColumns.reduce(
        (accum, key) => ({
          ...accum,
          [key]: true,
        }),
        {}
      );
    },
    /**
     * Container grid list props
     */
    gridListProps() {
      return this.grid
        ? {
            [`grid-list-${this.grid}`]: true,
          }
        : null;
    },
  },
  methods: {
    deduplicateColumns(defaultColumns, overrideColumns) {
      /* Deduplicate the sizes and offsets for each breakpoint. If the override
       *   columns specify a different value for a size/offset, it should be
       *   used over the base column values. */
      const newDefaultColumns = defaultColumns.filter(key => {
        // Deduplicate size values (override if new value was specified for same breakpoint).
        //   Duplicated sizes are filtered out of the default columns.
        const sizeMatches = key.match(/^(xs|sm|md|lg|xl)\d{1,2}$/);
        if (sizeMatches) {
          const [, size] = sizeMatches;
          const duplicateRegex = new RegExp("^" + size + "\\d{1,2}$");
          return !overrideColumns.some(c => duplicateRegex.test(c));
        }

        // Deduplicate offset values (override if new value was specified for same breakpoint)
        //   Duplicated offset are filtered out of the default columns.
        const offsetMatches = key.match(/^offset-(xs|sm|md|lg|xl)\d{1,2}$/);
        if (offsetMatches) {
          const [, offset] = offsetMatches;
          const duplicateRegex = new RegExp("^offset-" + offset + "\\d{1,2}$");
          return !overrideColumns.some(c => duplicateRegex.test(c));
        }

        return false;
      });

      return [...newDefaultColumns, ...overrideColumns];
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@styles/_breakpoints.scss";

.container {
  @include smUp {
    padding-left: 0;
    padding-right: 0;
  }

  &.container--no-padding {
    padding: 0;
  }
}
</style>
