<template>
  <h1 :class="{ 'page-title--centered': centered }" class="page-title">
    <slot name="default" />
  </h1>
</template>

<script>
/**
 * Common title component
 */
export default {
  name: "Title",
  props: {
    /**
     * Whether title is centered
     * @type {boolean}
     */
    centered: {
      default: true,
      required: false,
      type: Boolean,
    }
  },
};
</script>


<style lang="scss" scoped>
// Page title styles
.page-title {
  margin-top: calc(var(--spacing) * 2);
  margin-bottom: calc(var(--spacing) * 4);

  &.page-title--centered {
    text-align: center;
  }
}
</style>

