<template>
  <div class="post-meta">
    <span>Posted {{ post.date }}</span>
    <template v-if="post.timeToRead">
      <span class="mx-2">&bull;</span>
      <strong>{{ post.timeToRead }} min read.</strong>
    </template>
  </div>
</template>

<script>
/**
 * Blog post meta
 */
export default {
  name: "PostMeta",
  props: {
    /**
     * Blog post
     */
    post: {
      required: true,
      type: Object,
    },
  },
};
</script>

<style lang="scss" scoped>
// Post card meta
.post-meta {
  font-size: 0.8em;
  opacity: 0.8;
}
</style>
