<template>
  <v-hover>
    <v-card
      slot-scope="{ hover }"
      :class="{
        'post-card--has-poster': post.poster,
        [`elevation-${hover ? 6 : 2}`]: true
      }"
      class="post-card"
    >
      <!-- Post summary header -->
      <div class="post-card__header">
        <g-image
          v-if="post.coverImage"
          :src="`/images/${post.coverImage}`"
          alt="Cover image"
          class="post-card__image"
        />
      </div>

      <!-- Post summary content -->
      <v-card-title class="post-card__content">
        <h2 class="post-card__title mt-0" v-html="post.title"/>
        <p class="post-card__description" v-html="post.description"/>

        <PostMeta :post="post" class="post-card__meta"/>
        <PostTags :post="post" class="post-card__tags mt-3"/>

        <g-link class="post-card__link" :to="post.path">Link</g-link>
      </v-card-title>
    </v-card>
  </v-hover>
</template>

<script>
// Components
import PostMeta from "@components/Blog/PostMeta";
import PostTags from "@components/Blog/PostTags";

/**
 * Blog post summary card
 */
export default {
  name: "PostCard",
  components: {
    PostMeta,
    PostTags,
  },
  props: {
    /**
     * Blog post
     */
    post: {
      required: true,
      type: Object,
    },
  },
};
</script>

<style lang="scss">
// Blog post summary card
.post-card {
  margin-bottom: var(--default-space);
  border-radius: calc(var(--spacing) / 2);
  position: relative;
  transition: transform .3s, background-color .3s, box-shadow .6s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 1px 10px 30px 0 rgba(0, 0, 0, 0.1);
  }

  &__header {
    overflow: hidden;
    border-radius: var(--radius) var(--radius) 0 0;

    &:empty {
      display: none;
    }
  }

  &__image {
    min-width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
}

// Post card link (positioned to cover entire card)
.post-card__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  text-indent: -9999px;
  z-index: 0;
}

// Post card content
.post-card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: calc(var(--spacing) * 5);
}
</style>