<template>
  <div class="post-tags">
    <g-link
      v-for="tag in post.tags"
      :key="tag.id"
      :to="tag.path"
      class="post-tags__link"
    >
      <span>#</span>
      {{ tag.title }}
    </g-link>
  </div>
</template>

<script>
/**
 * Blog post tags
 */
export default {
  name: "PostTags",
  props: {
    /**
     * Blog post
     */
    post: {
      required: true,
      type: Object,
    },
  },
};
</script>

<style lang="scss">
// Blog post tags
.post-tags {
  position: relative;
  z-index: 1;

  &__link {
    margin-right: 0.7em;
    font-size: 0.8em;
    color: currentColor;
    text-decoration: none;
    background-color: var(--bg-color);
    color: currentColor !important; //Todo: remove important;
    padding: 0.5em;
    border-radius: var(--radius);
  }
}
</style>