///////////////////////////////////////////////////////////////////////////////
// SASS Variables
///////////////////////////////////////////////////////////////////////////////

// Base breakpoint values (used in calculations without `px` value)
$breakpoint-xs: 0;
$breakpoint-sm: 600;
$breakpoint-md: 960;
$breakpoint-lg: 1280;
$breakpoint-xl: 1920;

///////////////////////////////////////////////////////////////////////////////
// CSS Variables
///////////////////////////////////////////////////////////////////////////////

// Default variables
html {
	--base-font-size: 20px;
}

body {
	// Colours
	--color-primary: #A63726;
	--color-grey-mid: #E9E9E9;

 	--bg-color: #F3F7F9;
 	--bg-content-color: #fff;
 	--bg-code: #fffbf3;
	--body-color: #444;
	--border-color:  rgba(0,0,0,.1);;
 	--title-color: #111;
	--link-color: #6b17e6;
	// Spacing
	--default-space: 3.5rem;
	--spacing: 8px;
  --content-width: 860px;
	// Miscellaneous
  --header-height: 80px;
  --radius: 5px;
}

// Make  things smaller for mobile
@media screen and (max-width: 650px) {
	html {
		--base-font-size: 17px;
	}
	body {
		--default-space: 1.5rem;
		--header-height: 60px;
	}
}