<template>
  <v-app>
    <TheAppToolbar :show-logo="showLogo" />

    <v-content>
      <main class="main">
        <slot/>
      </main>
    </v-content>

    <TheAppFooter />
  </v-app>
</template>

<script>
// Components
import TheAppFooter from "@components/Layout/TheAppFooter";
import TheAppToolbar from "@components/Layout/TheAppToolbar";

export default {
  name: "DefaultLayout",
  components: {
    TheAppFooter,
    TheAppToolbar,
  },
  props: {
    /**
     * Whether the logo is shown
     */
    showLogo:{
      default: true
    },
  },
};
</script>

<style lang="scss" scoped>
.main {
  margin: 0 auto;
}
</style>
